body{
    background: black;
}

/*centrar la imagen con el texto arriba*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*bajar la imagen un poco*/
.container .box{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
}
/*cuando el cursor pasa por encima de la imagen este se desplaza hacia la izquierda arriba pero solo un poco*/
.container .box:hover .imgBox{
    transform: translate(-1.5rem, -1.5rem);
}
/*pasa los mismo como la imagen pero en vez de subir a la izquierda baja hacia la derecha pero solo un poco*/
.container .box:hover .content{
    transform: translate(3.5rem, 3.5rem);
}
/*ahora la imagen se desplaza hacia arriba a la derecha despacion haciendo la animacion*/
.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
}

.imgBox img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}

.content{
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.content h2 {
    position: absolute;
    top: 81%; /*entre mas porcentaje este mas baja*/
    left: 35%;
    transform: translate(-50%, -50%);
    color: black;
;
}
